*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.menu> ul{
    background-color:#fff;
    list-style: none;
    width: 360px;
    margin: 0 auto;
    padding: 0;

}

.menu li{
    border: 30px;
    padding: 15px 10px;
    display: inline-block;
    margin-right:0;
    margin-right: -4px;
    font-family: 'Lobster';
    letter-spacing: 2px;
}

.menu ul ul{
    top:50px;
    position: absolute;
    background: #E1DBEA ;
}

.menu .itemList li{
    display: block;
}

.menu li:hover{
    background-color: gray;
    cursor: pointer;
}

.hide{
    display: none;
}

.show{
    display: block;
}

.menu{
    /* outline: 1px solid blue; */
    width: 50%;
    margin: 0 auto;
    height: 300px; 
}

.container>li:nth-child(1){
    background:#FD9597;
    
}

.container>li:nth-child(2){
    background: #8DA7F2 ;
}

.container>li:nth-child(3){
    background: #73D0F1;
}

.container>li:nth-child(4){
    background: #49EDAC ;
}

